header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo h1 a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.logo{
    padding-top: 5px;
}

nav{
    display: flex;
    padding-top: 20px;
    
}
nav ul li{
    display: inline-block;
    padding-left: 18px;
}
nav ul li a{
    color: rgb(32, 20, 20);
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    padding-right: 9px;
}
nav ul li a:hover{
    color: rgb(141, 141, 230);
}
.cart{
    position: relative;
    width: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.cart span{
    font-size: 20px;
    position: absolute;
    top:-15px;
    right: -7px;
    border-radius: 50%;
    z-index: -1;
    padding: 0px 2px;
    background-color: rgb(240, 63, 63);
}